header{
    background: linear-gradient(to bottom, #e7e6e5, #ffffff);
}
.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 25px;
    text-align: center;
    justify-items: center;
}

.titulo{
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width: 768px){
    .items {
        grid-template-columns: repeat(2,1fr);
     }
}

@media (max-width: 426px){
    .items{
        grid-template-columns: repeat(1,1fr);
    }
}